﻿@model Bravissimo.ViewModels.AddEditLanguageViewModel

<form method="post">
    <input asp-for="@Model.ID" hidden/>
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Edit Language</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.Name" class="form-control" />
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.IsVisible"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.IsVisible" class="form-control" />
                        <span asp-validation-for="@Model.IsVisible" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.IsSrcAllowed"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.IsSrcAllowed" class="form-control" />
                        <span asp-validation-for="@Model.IsSrcAllowed" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.IsDstAllowed"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.IsDstAllowed" class="form-control" />
                        <span asp-validation-for="@Model.IsDstAllowed" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Update" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i>Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

