﻿@model Bravissimo.ViewModels.LanguageViewModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Language List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Language" asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus"></i> &nbsp; Create New Language
            </a>
        </div>
    </div>
    <br /><br />
    @if (Model.LanguageList.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Language Name
                    </th>
                    <th>
                        Is Visible
                    </th>
                    <th>
                        Is Src Allowed
                    </th>
                    <th>
                        Is Dst Allowed
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.LanguageList)
                {
                    <tr>
                        <td width="25%">@obj.Name</td>
                        <td width="15%">@obj.IsVisible</td>
                        <td width="15%">@obj.IsSrcAllowed</td>
                        <td width="15%">@obj.IsDstAllowed</td>
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Language" asp-route-Id="@obj.ID" asp-action="Edit" class="btn btn-info mx-2"> <i class="fas fa-edit">Edit</i></a>

                                <a asp-controller="Language" asp-route-Id="@obj.ID" asp-action="Delete" class="btn btn-danger mx-2"> <i class="far fa-trash-alt">Delete</i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Category Type Exists.</p>
    }
</div>

