﻿
@model Bravissimo.ViewModels.EditRequestViewModel

<form method="post" asp-action="DeletePost">
    <input asp-for="ID" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Delete Request</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.ReceivedDate"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.ReceivedDate" class="form-control" />
                        <span asp-validation-for="@Model.ReceivedDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.SentBy"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.SentBy" class="form-control" />
                        <span asp-validation-for="@Model.SentBy" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.SrcLang"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="@Model.SrcLang" class="form-control">
                            <option disabled selected>--Select--</option>
                        </select>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.DstLang"></label>
                    </div>
                    <div class="col-8">

                        <select asp-for="@Model.DstLang" class="form-control">
                            <option disabled selected>--Select--</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.Deadline"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.Deadline" class="form-control" />
                        <span asp-validation-for="@Model.Deadline" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.ResponseDate"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.ResponseDate" class="form-control" />
                        <span asp-validation-for="@Model.ResponseDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.RespondedBy"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.RespondedBy" class="form-control" />
                        <span asp-validation-for="@Model.RespondedBy" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.ResponseMessage"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.ResponseMessage" class="form-control" />
                        <span asp-validation-for="@Model.ResponseMessage" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.Price" class="form-control" />
                        <span asp-validation-for="@Model.Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="cal-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-danger w-100" value="Delete" />
                        </div>
                        <div>
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i>Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

