﻿@model Bravissimo.ViewModels.EditRequestViewModel
<form method="post">
    <input asp-for="ID" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Edit Request</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.ReceivedDate"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.ReceivedDate" class="form-control" />
                        <span asp-validation-for="@Model.ReceivedDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.SentBy"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.SentBy" class="form-control" />
                        <span asp-validation-for="@Model.SentBy" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        @Html.LabelFor(model => model.SrcLang, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                    <div class="col-8">
                        @Html.DropDownListFor(model => model.SrcLangId, new SelectList(Model.Language, "ID", "Name"), new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        @Html.LabelFor(model => model.DstLang, htmlAttributes: new { @class = "control-label col-md-2" })

                    </div>
                    <div class="col-8">
                        @Html.DropDownListFor(model => model.DstLangId, new SelectList(Model.Language, "ID", "Name"), new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.Deadline"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.Deadline" class="form-control" />
                        <span asp-validation-for="@Model.Deadline" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.ResponseDate"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.ResponseDate" class="form-control" />
                        <span asp-validation-for="@Model.ResponseDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.RespondedBy"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.RespondedBy" class="form-control" />
                        <span asp-validation-for="@Model.RespondedBy" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.ResponseMessage"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.ResponseMessage" class="form-control" />
                        <span asp-validation-for="@Model.ResponseMessage" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.Price" class="form-control" />
                        <span asp-validation-for="@Model.Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Update" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i>Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>

