﻿@model Bravissimo.ViewModels.RequestViewModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Request List</h2>
        </div>
    </div>
    

    <form id="statusForm">
        @Html.HiddenFor(x => x.Status)
        <div class="form-check">
            <input id="sort" class="form-check-input" type="radio" asp-for="@Model.Status" value="@Model.">
            <label class="form-check-label" for="status">Odgovoreni</label>
        </div>
        <div class="form-check">
            <input id="sort" class="form-check-input" type="radio" name="status" value="primljeni" checked>
            <label class="form-check-label" for="status">Primljeni</label>
        </div>
    </form>
    @if (Model.RequestList.Count > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>ReceivedDate</th>
                    <th>SentBy</th>
                    <th>SrcLang</th>
                    <th>DstLang</th>
                    <th>Deadline</th>
                    <th>ResponseDate</th>
                    <th>RespondedBy</th>
                    <th>ResponseMessage</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.RequestList)
                {
                    <tr>
                        <td>@obj.ReceivedDate</td>
                        <td>@obj.SentBy</td>
                        <td>@obj.SrcLang.Name</td>
                        <td>@obj.DstLang.Name</td>
                        <td>@obj.Deadline</td>
                        <td>@obj.ResponseDate</td>
                        <td>@obj.RespondedBy</td>
                        <td>@obj.ResponseMessage</td>
                        <td>@obj.Price</td>
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Request" asp-route-Id="@obj.ID" asp-action="Edit" class="btn btn-info mx-2"> <i class="fas fa-edit">Edit</i></a>
                                <a asp-controller="Request" asp-route-Id="@obj.ID" asp-action="Delete" class="btn btn-danger mx-2"> <i class="far fa-trash-alt">Delete</i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Category Type Exists.</p>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('input[type=radio]').click(function () {
            document.getElementById("statusForm").submit();
        });

        $('#sort').attr('checked', 'checked');
    });
    
 </script>